{% extends 'base.html.twig' %}
{% block content %}
{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table>
    <tr>
        {# sorting of properties based on query components #}
        <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
        <th{% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>
            {{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}
        </th>
        <th>{{ knp_pagination_sortable(pagination, 'Release', 'p.updatedAt') }}</th>
    </tr>

    {# table body #}
    {% for item in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ item.id }}</td>
            <td><a href="{{ easypage_service.getPageUrl(item) }}">{{ item.name }}</a></td>
            <td>{{ item.updatedAt|date("m/d/Y", false) }}</td>

        </tr>
    {% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}