{% extends 'PetkoparaCrudGeneratorBundle::base.html.twig' %}

{% block title %}
{{ parent() }} - page
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View page <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ page.id }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Name</strong></p>
        <p>
            {{ page.name }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Parent</strong></p>
        <p>
            {{ page.parent }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Active</strong></p>
        <p>
            {% if page.active %}Yes{% else %}No{% endif %}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Descriptionshort</strong></p>
        <p>
            {{ page.descriptionShort }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Description</strong></p>
        <p>
            {{ page.description }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Seotitle</strong></p>
        <p>
            {{ page.seoTitle }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Seoh1</strong></p>
        <p>
            {{ page.seoH1 }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Metadescription</strong></p>
        <p>
            {{ page.metaDescription }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Metakeyword</strong></p>
        <p>
            {{ page.metaKeyword }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Slug</strong></p>
        <p>
            {{ page.slug }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Listtemplate</strong></p>
        <p>
            {{ page.listTemplate }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Pagetemplate</strong></p>
        <p>
            {{ page.pageTemplate }}
        </p>

    </div></div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('pagepetkopa') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
</div>


{% endblock %}

