{% extends 'base.html.twig' %}
{% if page.seoTitle != null %}
    {% block title %}
        {{ page.seoTitle }}
    {% endblock %}
{% endif %}
{% block content %}


    <h1>{{ page.name }}</h1>


    <img src="{{ asset(vich_uploader_asset(page, 'mainImageFile')) | imagine_filter('easypage_show_thumb') }}" alt="{{ page.name }}">
    {{ page.description  | raw }}


{% endblock %}






